.container{
    margin-top: 12rem;
    border-radius: 1.3rem;
    overflow: hidden;
}

.btn-open-form{
    float: left;
    padding: 1rem 0.90rem;
    border-radius: 2rem;
    cursor: pointer;
    font-size: 14px;
    border: none;
    background-color: #263238;
    color: white;
    transition: all .5s ease;
}


.btn-open-form:hover{
    background-color: white;
    color: #263238;
}

table{
    width: 100%;
}