<form [formGroup]="newForm" (ngSubmit)="OnSubmit()" class="formulario">

    <div class="form">
        <label>
            <select formControlName="categoria" class="control">
                <option value="">Selecione a Categoria...</option>

                <option *ngFor="let data of opcoesCategoria" [value]="data.value">
                    {{data.label}}
                </option>
            </select>
        </label>

        <div class="warning" *ngIf="newForm.get('categoria')?.invalid && newForm.get('categoria')?.touched">
            Categoria é obrigatório
        </div>
    </div>



    <div class="form">
        <label for="descricao">
            <input type="text" formControlName="descricao" class="control" placeholder="Descrição">
        </label>

        <div class="warning" *ngIf="newForm.get('descricao')?.invalid && newForm.get('descricao')?.touched">
            Descrição é obrigatório e deve ter pelo menos 3 caracteres
        </div>
    </div>


    <div class="form">
        <label>
            <input type="number" formControlName="preco" class="control" placeholder="Preço">
        </label>
        <div class="warning" *ngIf="newForm.get('preco')?.invalid && newForm.get('preco')?.touched">
            Preco é obrigatório e deve ser maior que 0
        </div>
    </div>

    <div class="form">
        <label>
            <input type="date" formControlName="data" class="control" placeholder="Data Lançamento">
        </label>
        <div class="warning" *ngIf="newForm.get('data')?.invalid && newForm.get('data')?.touched">
            Data é obrigatória
            
            <div *ngIf="newForm.get('data')?.hasError('dataMinimaInvalida') && newForm.get('data')?.touched">
                A data selecionada pode ser de até 2 anos .
            </div>

            <div *ngIf="newForm.get('data')?.hasError('dataFuturaInvalida') && newForm.get('data')?.touched">
                A data não pode ser no futuro.
            </div>
        </div>
    </div>


    <div class="form">
        <label>Está pago?

            <div class="check">

                Não <input type="radio" formControlName="isPago" [value]="false" />

                Sim <input type="radio" formControlName="isPago" [value]="true" />
            </div>
        </label>
    </div>

    <button class="btn-send" type="submit" [disabled]="!newForm.valid">Enviar</button>
</form>