<app-sidebar>
    <section class="top-section">
        <app-topwidget></app-topwidget>
        <aside class="middle-section">
            <div class="widget left">
                <app-charts></app-charts>
            </div>
        </aside>

        <aside class="bottom-section">
            <div class="widget right">
                <app-chart-pizza></app-chart-pizza>
            </div>
            <div class="widget left">
                <app-tabala-calote></app-tabala-calote>
            </div>
        </aside>
    </section>
</app-sidebar>